# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Iterators, Generators and `yield`. 

In iterator in Python is an object that represents a stream of data. However, iterators contain a countable number of values. We traverse through the iterator and return one value at a time. All iterators support a `next` function that allows us to traverse through the iterator. We can create an iterator using the `iter` function that comes with the base package of Python. Below is an example of an iterator.

In [3]:
# We first define our iterator:
iterator = iter([1,2,3])

# We can now iterate through the object using the next function
print(next(iterator))

1

In [4]:
# We continue to iterate through the iterator.

print(next(iterator))

2

In [5]:
print(next(iterator))

3

In [6]:
# After we have iterated through all elements, we will get a StopIteration Error

print(next(iterator))

StopIteration:

In [7]:
# We can also iterate through an iterator using a for loop like this:
# Note: we cannot go back directly in an iterator once we have traversed through the elements. 
# This is why we are redefining the iterator below

iterator = iter([1,2,3])

for i in iterator:
    print(i)

1
2
3

In the cell below, write a function that takes an iterator and returns the first element in the iterator and returns the first element in the iterator that is divisible by 2. Assume that all iterators contain only numeric data. If we have not found a single element that is divisible by 2, return zero.

In [45]:
iterator = iter ([1,2,3])

def divisible2(iterator):
    for i in iterator:
        if i % 2 == 0:
            return i 
        else:
            return 0
divisible2(iterator)

#cómo le hago para que aparezca [0,2,0]?

0

### Generators

It is quite difficult to create your own iterator since you would have to implement a `next` function. Generators are functions that enable us to create iterators. The difference between a function and a generator is that instead of using `return`, we use `yield`. For example, below we have a function that returns an iterator containing the numbers 0 through n:

In [60]:
def firstn(n):
     number = 0
        while number < n:
            yield number
            number = number + 1 
#No entiendo.... no corre la función, ¿se supone que tenemos que hacer algo?

IndentationError: unexpected indent (<ipython-input-60-c7c2f0f528f1>, line 3)

If we pass 5 to the function, we will see that we have an iterator containing the numbers 0 through 4.

In [62]:
iterator = firstn(5)

for i in iterator:
    print(i)

TypeError: 'NoneType' object is not iterable

In the cell below, create a generator that takes a number and returns an iterator containing all even numbers between 0 and the number you passed to the generator.

In [81]:
    # This function produces an iterator containing all even numbers between 0 and n
    # Input: integer
    # Output: iterator
    
    # Sample Input: 5
    # Sample Output: iter([0, 2, 4])
    
n= input(int)

def even_iterator(n):  
    for i in range (0,n):
        yield i if i %2==0

#PENDIENTE

IndentationError: expected an indented block (<ipython-input-81-4967b2cb8a8d>, line 11)

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [174]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)
#iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
iris.head(5)

#POR QUÉ ES NECESARIO ESPECIFICAR LAS COLUMNAS SI DE TODOS, AL IMPRIMRLO SOLITA QUITA EL NOMBRES DE LAS COLUMNAS 
#Y PONE EL PRIMER REGISTRO COMO NOMBRE DE COLUMNAS?

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Let's look at the dataset using the `head` function.

In [133]:
iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [110]:
np.mean(iris)

#Sacó la media de cada columna

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [112]:
np.std (iris)
#parece que los datos son bastante homogéneos y regulares, porque la std no es muy grande porque no llega a la unidad

sepal_length    0.825301
sepal_width     0.432147
petal_length    1.758529
petal_width     0.760613
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [175]:
iris_numeric = pd.DataFrame (iris._get_numeric_data())
iris_numeric

#LO SIGUIENTES TAMBIÉN FUNCIONA, PERO ES MÁS RÁPIDO CON ._get_numeric_data()

#iris_numeric = iris.copy
#iris_numeric = iris [['sepal_length','sepal_width','petal_length','petal_width']].copy()
#iris_numeric

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [162]:
#NO ME DI CUENTA DE LAS INSTRUCCIONES QUE SEGUÍAN POR ESO LO INTENTÉ DE ESTOS DOS MODOS: 

#iris_numeric['sepal_length INCHES'] = [value * 0.39 for value in iris_numeric ['sepal_length']]
#iris_numeric(10)

In [161]:
#inches10 = []

#for row in iris_numeric:
 #   inches10.append (row * 4) #no acepta floats

#iris_numeric['inches10'] = inches10 
#iris_numeric(10)

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [176]:
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701

def cm_to_in(x):
     return x*0.393701

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [177]:
iris_inch = iris_numeric.apply(cm_to_in)

iris_inch.head()

#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html

   sepal_length  sepal_width  petal_length  petal_width
0      2.007875     1.377954      0.551181      0.07874
1      1.929135     1.181103      0.551181      0.07874
2      1.850395     1.259843      0.511811      0.07874
3      1.811025     1.220473      0.590552      0.07874
4      1.968505     1.417324      0.551181      0.07874

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [181]:
# Define constant below:

error = 2 

def add_constant(x):
    return x + 2
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value

In [184]:
iris_withouterror2 = iris_numeric.apply(add_constant)
iris_withouterror2

     sepal_length  sepal_width  petal_length  petal_width
0             7.1          5.5           3.4          2.2
1             6.9          5.0           3.4          2.2
2             6.7          5.2           3.3          2.2
3             6.6          5.1           3.5          2.2
4             7.0          5.6           3.4          2.2
..            ...          ...           ...          ...
145           8.7          5.0           7.2          4.3
146           8.3          4.5           7.0          3.9
147           8.5          5.0           7.2          4.0
148           8.2          5.4           7.4          4.3
149           7.9          5.0           7.1          3.8

[150 rows x 4 columns]

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [24]:
# Your code here:

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [25]:
# Your code here: